{% extends "base.html" %}
{% load static %}
<!-- delete this block -->

<!-- till here -->
{% block content %}
<div class="container quote">
    <div class="row">
        <div class="col-lg-12 mt-4 mb-4">
            <h2 class="title-text">
                "A reader lives a thousand lives before he dies and the one who doesn't read, lives just one."
                
            </h2>
            <h3 class="title-text">
                George R.R. Martin
            </h3>

        </div>
    </div>

</div>
<div class="container main" style="margin-top:10px">
    <div class="row">

    </div>
    <div class="row">
        <div class="col-12-col-6">
            <a href="{% url 'book' %}">

                <h2 class="index-text">Start Looking for Books!</h2>
            </a>
        </div>
    </div>
</div>
</div>

<footer class="mt-4 mb-4">
    <ul class="social-media-icon">
        <li>
            <a href="https://www.facebook.com/profile.php?id=61554559140023" class="social-media-text" name="facebook-icon"
                aria-label="visit us at Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/" class="social-media-text" name="instagram-icon"
                aria-label="visit us at Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
            <a href="https://www.youtube.com/" class="social-media-text" name="youtube-icon"
                aria-label="visit us at Youtube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/?lang=en-gb" class="social-media-text" name="twitter-icon"
                aria-label="visit us at Twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </li>
    </ul>
</footer>
{% endblock %}