main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto !important;
    flex-grow:1
}

.title-text {
    font-family: 'Gideon Roman';
    color: black;
}

.title-text > a {
    text-decoration: none;

}

.nav-button {
    font-size: 150%;
}
.nav-button:hover{
    color: white;
    background-color: black;
}

i{
    color: black;
    font-size: 100%;
}

.order{
    height: 400px;
    width: 100%;
}

.main{
    background: url('../image/ocean-book-glass-vehicle-sunglass-bag-105434-pxhere.com.jpg') no-repeat center;
    background-image: cover;
    height: 700px;
}

main{
    height: 800px;
}

.index-text{
    margin-top: 550px;
    margin-left: 650px;
    font-family: 'Gideon Roman';
    color: black;
    background-color: white;
}

.index-text:hover{
    color: white;
    background-color: black;
}

.dropdown-filter{
    display: none;
}

.show{
    display: block;
}
.social-media-text {
    color: black;
}

.social-media-icon {
    text-align: center;
}

.social-media-icon>li {
    display: inline;
    padding: 10%;
    padding-top: 20px;
    font-size: 200%;
}




@media only screen and (max-width: 900px){
    .index-text{
        margin-left:auto;
        margin-right: auto;
        margin-top: 550px;
        font-family: 'Gideon Roman';
        color: black;
        background-color: white;
    }
}

@media only screen and (max-width: 600px)  {
    .social-media-icon>li {
        display: block;
        padding: clear;
        font-size: 200%;
    } 

    
}