{% extends "base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <h1 class="title-text text-center mt-4">

        {% trans "Sign In" %}
    </h1>
    
    <p class="title-text mt-4 text-center">
        {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    <form class="login mt-5 col-md-7 d-flex flex-column" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" 
        value="{{ redirect_field_value }}"  />
        {% endif %}
        <div class="mx-auto">
        <button class="primaryAction title-text" type="submit"> 
        

            Sign In
        
        </button>
        </div>
  
        </form>      
    
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
