{% extends "account/base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        <h1 class="text-center title-text mt-3 mb-4">

            Sign Out
        </h1>
    {% endelement %}
    <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
    {% url 'account_logout' as action_url %}
    <form method="post" action="{% url 'account_logout' %}" 
    class="position-absolute top-0 start-0 translate-middle">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" 
        class="btn-dark submit-button title-white title-text
        col-lg-12 col-lg-4">
        <h3>

            Sign Out
        </h3>
    </button>
    </form>
{% endblock content %}
