{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
    <meta name="description"
    content="Traverse Book is an online bookshop providing multilingual
    and books of different genres to readers">
    {% block corecss %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block extra_js %}
{% endblock %}
    <title>Traverse Book</title>
</head>
<body>
    <header class="container">
        <div class="row bg-yellow">
            <div class="col-12 col-lg-3 text-center">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h1>Traverse Book</h1>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href="/">
                    <h3>Product</h3>
                </a>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href="/">
                    <h3>Logout</h3>
                </a>
            </div>
        </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <a href="/">
                        <h3>View your order</h3>
                    </a>
                </div>
            </div>
        </div>   
        {% else %}
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href="/">
                    <h3>Login/Sign up</h3>
                </a>
            </div>
        {% endif %}
    </header>
{% block content %}
{% endblock %} 

<footer>

</footer>
</body>
</html>