{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">

        <form method="GET" action="{% url 'book' %}">
            <div>
                <input class="form-control" type="text" name="q" 
                placeholder="Search book name, author's name, publisher or ISBN">
                <button class="form-control bg-dark text-white" type="submit">
                    <p>

                        Search
                        <i class="fa-solid fa-magnifying-glass text-white"></i>
                    </p>
                </button>
            </div>

        </form>            
        </div>
    </div>

        <div class="row mt-5 mb-4">
            <div class="books-container">
                <div class="row ml-5">
                    {% if books %}
                    <div class="col-sm-5, col-md-4, col-xl-3, col-lg-6 justify-content-center">

                        <div class="card h-200 border-0">
                            {% for image in images %}
                            {% if image.product.name == books.name %}
                            
                            <div class="card h-5 w-5 border-0">
                                
                                <img src="{{image.image_url}}">
                            </div>
                            
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-5, col-md-4, col-xl-3, col-lg-5 justify-content-center">

                        <div class="card-body">
                            <h5 class="md-0">{{books.name}}</h5>
                            <p>Author: {{books.author}}</p>
                            <p>Publisher: {{books.publisher}}</p>
                            <p>
                            Year of Publication: {{books.year_of_publication}}
                            </p>
                            <p>Page: {{books.number_of_pages}} pages</p>
                            <p class="font-weight-bold">
                                Price: ${{books.price}}

                            </p>
                        </div>
                    </div>                        
                    </div>                    
                </div>
                    
                            {% for genre in categories.genre %}
                            {% if genre == books.category.genre %}
                    <div class="col-sm-5, col-md-4, col-xl-3, col-lg-12">
                        <div class="card h-200 border-0">
                            <div class="card-body">
                                <h5 class="md-0">Genre: {{genre}}</h5>
                            {% endif %}
                            {% endfor %}
                        </div>
                        
                    
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}